/*  import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700");
*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
nav{
  position: relative;
  top: 0;
  bottom: 0;
  height: 100vh;
  left: 0;
  background: #fff;
  width: 280px;
  overflow: hidden;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.container-package{
  display: flex;
}
.container{
  margin: 4rem;
  background: #ffffff;
  height: 100vh;
}
.form-cont {
  display: flex;
  flex-direction: column;
  top: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  margin-left: 1%;
  margin-top: -150px;
}

.form-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.custom-button{
  margin: 10px;
  padding: 8px 16px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.custom-button:hover{
  background-color: #45a049;
} 
.logo{
  text-align: center;
  display: flex;
  margin: 10px 0 0 10px;
}
.logo img{
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.logo span{
  font-weight: bold;
  padding-left: 15px;
  font-size: 18px;
  text-transform: uppercase;
}
a{
  position: relative;
  color: rgb(85, 83, 83);
  font-size: 14px;
  display: table;
  width: 280px;
  padding: 10px;
}
nav .fas{
  position: relative;
  width: 70px;
  height: 40px;
  top: 14px;
  font-size: 20px;
  text-align: center;
}
.nav-item{
  position: relative;
  top: 12px;
  margin-left: 10px;
}
.container-package ul li a{
  text-decoration: none ;
}

.logout{
  position: absolute;
  bottom: 0;
}
 
.select-container {
  display: inline-block;
  position: relative;
  width: 400px; /* Adjust the width as needed */
}

.select-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  font-size: 16px;
  color: #333;
  cursor: pointer;
  width: 100%;
}

.select-arrow {
  width: 20px;
  height: 20px;
  fill: #333;
}

select#countries {
  position: relative; /* Change to relative positioning */
  width: calc(100% + 40px); /* Adjust width to account for the arrow and padding */
  z-index: 1; /* Ensure the dropdown is above other elements */
}




/* Main Section */
.main{
  position: relative;
  padding: 20px;
  width: 100%;
}

.main-category{
  display: flex;
  margin-top: 20px;
}
.main-category .card{
  width: 30%;
  margin: 12px;
  background: #fff;
  text-align: center;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 20px 35px rgba(139, 69, 19, 0.2);
  height: 25vh;
}
.main-category .card a{
  text-decoration: none;
}
.main-category .card h3{
  margin: 10px;
  text-transform: capitalize;
  margin-top: 2px;
}
.main-category .card i{
  padding: 10px;
  padding-top: 30px;
}


.table-container {
  max-height: 50vh;
  overflow-y: auto;
  margin-bottom: 5%;
}

.admin-table-container{
  margin-left: 8%;
}
.category-table-container{
  margin-left: 4%;
}
.vendor-table-container{
  margin-left: 8%;

}

table {
  border-collapse: collapse;
  width: 100%;
  font-size: 16px;
  border-width: 1px;
}


th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #4CAF50;
  color: #fff;
}

tr:nth-child(11) td {
  border-bottom: 1px solid #ddd; 
}


.name-class{
  text-align: center;
  margin: 5px;
  padding: 5px;
  padding-top: 3%;
}
.html{
  color: rgb(25, 94, 54);
}
.css{
  color: rgb(104, 179, 35);
}
.js{
  color: rgb(28, 98, 179);
}
.category-form{
  margin-left: 5%;
}

.vendor-form .form-cont{
  margin-top: -5% !important;
  margin-left: 5%;
}
.h2_class{
  text-align: center;
  margin-top: 16%;
}
.vendor_h2_class{
  text-align: center;
  margin-top: 10%;
  margin-bottom: 5%;
}
textarea#description{
  width: 100%;
  height: 150px;
}
textarea#description{
  resize: none;
}

#edit_description {
  width: 100%;
  height: 100px;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 16px;
  color: #333;
  resize: none;
}

#edit_countryInput{
  z-index: 1050;
}


/* Add this CSS code to your stylesheet */

.home-route{
   display: flex;
   justify-content: right;
   margin-left: 90%;
   margin-top: 3%;
   margin-right: 40px;
   width: auto;
}
.home-route a{
  background-color: #4CAF50;
  text-align: center;
  color: #fff;
}

.table-container p{
  text-align: center;
}

.modal
.dialog {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 3000;
}

.dialog-content {
  text-align: center;
}

.dialog-buttons button {
  margin: 10px;
  padding: 8px 16px;
}
