{% extends "superadmin/layout.html" %}

{% block body %}


<div class="home-route">
<a href="{% url 'home' %}">Home</a>
</div>
<h1 class="name-class">Administrators</h1>
<div class="container">
  <div class="admin-table-container" data-admin_list="{% url 'administrators' %}">
  {% if Administrators %}
    <div class="table-container">
	        <table>
          <thead>
            <tr>
            <th>S/N</th>
            <th>Name</th>
            <th>ID</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
          {% for admin in Administrators %}
        <tr data-id="{{admin.id}}">
            <td>{{forloop.counter}}</td>
            <td>{{admin.adminname}}</td>
            <td>{{admin.adminid}}</td>
            <td>
                <button class="custom-button edit-admin-btn" data-toggle="modal" data-target="#editAdminModal" data-admin_id="{{ admin.id }}" data-edit_admin_url="{% url 'edit_admin' admin.id %}">Edit</button>
                <button class="custom-button delete-admin-btn" data-admin_id="{{ admin.id }}" data-delete_admin_url="{% url 'delete_admin' admin.id %}">Delete</button>
            </td>
        </tr>
        {% endfor %}
        </tbody>
	</table>
    </div>
    {% else %}
    <p>No Admin available.</p>
    {% endif %}
    </div>
    <h2 class="h2_class">Add Administrator</h2>

    <div class="form-cont">
    <form method="POST">
        {% csrf_token %}
        <div class="form-input">
        <input type="text" placeholder="Admin ID" name="adminid" id="adminid">
        <input type="text" placeholder="Admin Name" name="adminname" id="adminName">
    </div>
    <button type="submit" class="custom-button" name="action" value="save" id="save">Save</button>
    <button type="submit" class="custom-button" name="action" value="save_and_add" id="save_and_add">Save and Add Another</button>
    </form>
    </div>
    </div>
    
    <div class="modal fade" id="editAdminModal" tabindex="-1" role="dialog" aria-labelledby="editAdminModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="editAdminModalLabel">Edit Admin</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form id="editAdminForm" method="POST">
              {% csrf_token %}
              <div class="modal-body">
                <div class="form-input">
                    <input type="text" placeholder="Admin ID" name="adminid" id="edit_adminid">
                    <input type="text" placeholder="Admin Name" name="adminname" id="edit_adminname">
                </div>
              <div class="modal-footer">
                <button type="submit" class="custom-button btn-primary" id="updateAdminButton">Update</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              </div>
            </form>
          </div>
        </div>
      </div>
{% endblock %}